{% extends 'example/base.html' %}

{% block content %}
	<div class="row">
		<h3>TG - José de Arimatea Rocha Neto (jarn)</h3>
    <br>
		<p>
		  Esse projeto é um exemplo das funcionalidades desenvolvidas na biblioteca Django Multi-Tenant,
      fruto do trabalho de graduação do aluno José de Arimatea Rocha Neto do Centro de Informática da UFPE.
		</p>
    <br>
    <p>
      Exemplos das Funcionalidades:
    </p>
    <ul>
      <li><p><a href="{% url 'example:subdomain' %}">Nome do subdomínio e Tenant injetados no objeto Request e no Contexto.</a></p></li>
      <li><p><a href="{% url 'example:simple_list_items' %}">Itens filtrados por Tenant sem restrição de acesso</a></p></li>
      <li><p><a href="{% url 'example:restricted_list_items' %}">Itens filtrados por Tenant com restrição de acesso (usuário logado e pertecente ao tenant)</a></p></li>
			{% if tenant %}
      	<li><p><a href="{% url 'example:tenant_theme' tenant.pk %}">Customização de tema por Tenant</a></p></li>
			{% else %}
				<li><p><a href="">Customização de tema por Tenant</a></p></li>
			{% endif %}
			<li><p><a href="{% url 'example:login' %}">Função de login com checagem de Tenant</a></p></li>
    </ul>
	</div>
{% endblock %}
