{% extends 'example/base.html' %}

{% load tags %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}


	<form id="form" method="post" action="" class="form-horizontal" role="form">
		{% csrf_token %}
    <h3>Customização de tema por Tenant ({{ tenant }})</h3>
    <br>
		{% for field in form %}
		  <div class="form-group {% if field.errors %}has-error{% endif %}">
		    <label class="col-sm-2 control-label">{{ field.label }}:</label>
		    <div class="col-sm-10">
		    	{{ field|set_class:"form-control" }}
		    </div>
		    {% if field.errors %}
		    	<div class="col-sm-12">
		    		<p class="help-block">{{ field.errors|join:", " }}</p>
		    	</div>
		    {% endif %}
		  </div>
		{% endfor %}
		<div id="buttons" class="row">
			<div class="col-sm-6">
				<button id="submit" type="submit" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</form>

{% endblock %}
